<div class = "homepage">
  <div class = "container-fluid">
  <div class = "col-sm-6">
    <%= image_tag("issue.jpg", width:"629", height:"500")%>
  </div>
  <div class = "col-sm-6">
    
     <%= render 'devise/sessions/new'%>
     <%= render 'devise/registrations/new' %>
    </div>
  </div>
<div>
